body {
    text-align: center;
    font-family: Arial;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.grid img {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: 2px solid #ccc;
    transition: 0.3s;
}

.grid img:hover {
    transform: scale(1.05);
}

#message {
    margin-top: 20px;
    font-size: 20px;
    color: green;
}