body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#74ebd5,#acb6e5);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    background:white;
    width:350px;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.avatar{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:4px solid #4CAF50;
}

h1{
    margin:10px 0;
    color:#333;
}

.section{
    margin-top:15px;
    text-align:left;
}

.section h3{
    margin-bottom:5px;
    color:#4CAF50;
}

audio{
    width:100%;
    margin-top:5px;
}

.question .btn{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

.question .btn:hover {
    background-color: #8dff8e;
    color: #4CAF50;
}